#chat-screen {
  background-color: var(--green);
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--light-green);
}

#chat-screen .status-bar {
  z-index: 2;
}

@keyframes downwardSliding {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

#chat-screen .alt-header {
  top: 20px;
  z-index: 1;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 5px 10px -5px rgba(82, 87, 93, 1);
  animation: downwardSliding 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chats__timestamp {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
  opacity: 0;
  animation: fadeIn 0.3s linear forwards;
  animation-delay: 0.5s;
}

@keyframes horizontalSlidingFromLeft {
  from {
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  opacity: 0;
  animation: horizontalSlidingFromLeft 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
  color: black;
}

.message-row:nth-child(4) {
  animation-delay: 0.8s;
}

.message__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-row__content {
  width: 100%;
}

.message__author {
  margin-bottom: 5px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.message__buble {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  line-height: 1.3;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
  color: white;
}

.message-row__white-space {
  width: 40%;
}

@keyframes horizontalSlidingFromRight {
  from {
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row--own {
  justify-content: flex-end;
  opacity: 0;
  animation: horizontalSlidingFromRight 0.3s ease-in-out forwards;
  animation-delay: 0.7s;
}

.message-row--own:last-child {
  animation-delay: 0.9s;
}

.message-row--own .message__buble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: var(--light-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 30px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply .reply__column:first-child i:hover,
.reply .reply__column:last-child .fa-smile-wink:hover {
  color: var(--i-hover-color);
}

.reply .reply__column i:active,
.reply .reply__column button:active {
  transform: scale(0.85);
}

.reply i {
  opacity: 0.5;
  cursor: pointer;
}

.reply input {
  padding: 14px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 50px;
  top: 15px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
  visibility: hidden;
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
